# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración de entorno
.env

# Archivos de logs
*.log

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de caché de pip
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Modelos descargados (opcional, si no quieres subirlos)
models/